.textWraper { 
    margin-top: 60px; 
}
.textWraper h1 {
    font-size: 34px;
    font-weight: normal;
    color: #e20510;
}
.welcomeText span {
    font-size: 18.04px;
    font-weight: normal;
    font-family: 'Roboto Condensed',sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
   color:  #013a89;
}
.textWraper p,strong {
    color: #626262;
}

.content {
    margin-bottom: 15px;
}
@media (min-width: 992px) {
    .textWraper strong {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width:768px) {
    .textWraper h1 {
        font-size: 27.2px;
    }
    .textWraper p,strong {
        font-size: 15px;
    }
}