.stepsHold .nopadding {
    background: #afb4c7;
}
.stepsHold {
    margin-top: 60px;
}
.stepsHold h5 {
    font-size: 15px;
    text-align: center;
    margin:0px;
}
.stepsHoldText {
    padding-left: 0px;
    margin-left: 15px;
    border-bottom: 1px solid #bfbfbf;
}
.stepsHoldText h1 {
    color: #e20510;
    font-weight: normal;
}
.bookingText {
    margin-left: 15px;
    padding-left: 0px;
}
.bookingText h3 {
    margin-top: 20px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
}
.bookingText h5 {
    color: #0068b5;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
    margin-bottom: 19px;
}
.bookingRow {
    padding-left: 0px;
    margin-left: 15px;
    display: table;
}
.bookingRow p {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto',sans-serif;
}
.tableText1 {
    padding-bottom: 20px;
}
.tableText2{
    padding-left: 30px;
    display: table-cell;
}
.firstP , .secondaryP {
    display: block;
}
.table {
    width: 95%;
    margin-left: 15px;
    font-size: 11px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #bfbfbf;
}
.table td, .table th {
    padding: .35rem;
    vertical-align: top;
    border-top: none;
    border-bottom: 1px solid #bfbfbf; 
}
#pageDynamic {
    overflow: hidden;
}
.PersonInfo {
    width: 100%;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
}
.PersonInfo p {
    display: block;
}
.formGroup {
    display: inline-block;
}
.bookingInfo {
    margin-left: 30px;
    display: inline-block;
}
.bookingInfo p {
    padding: 0px;
    color: #626262;
}
.formGroup p {
    padding: 0px;
    color: #626262;
}
.bookingText p {
    color: #626262;
}
.about {
    width: 100%;
    white-space: nowrap;
    margin-left: 15px;
}
.about p {
    color: #626262;
}
.about h6 {
    font-size: 15px;
    color: #626262;
}
.textInfo{
    display: inline-block;
}
.aboutInfo{
    width: 50%;
    display: inline-block;
}
.aboutInfo a,p {
    display: block;
    font-size: 13px;
}
.textInfo p {
    display: block;
    padding: 8px 0px;
    font-size: 13px;
}

        /**Phone**/
@media (max-width:576px) {
    aboutInfo p,a {
        padding-bottom: 4px !important;
        padding: 8px 0px;
        font-size: 13px;
    }
    .aboutInfo a:nth-child(1) {
    }
    .PersonInfo {
        text-align: center;
    }
    .formGroup {
        text-align: left;
    }
    .bookingInfo {
        text-align: left;
    }
    .stepsHoldText h1 {
        font-size: 18px;
    }
}
        /**ipad-Browser**/
@media (min-width:768px) {
    .stepsHoldText h1 {
        font-size: 30px;
    }
.container {
    width: 100%;
    display: flex;
    white-space: nowrap;
}
.bookingLeft{
    width: 50%;
    display: inline-block;
}
.bokkingRight {
    width: 50%;
    display: inline-block;
}
/** browser **/
@media (min-width:992px){
    .container {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .formGroup p {
        padding: 8px 0;
        font-size: 15px;
    }
    .bookingInfo p {
        padding: 8px 0;
        font-size: 15px;
    }
    .bookingLeft {
        float: left;
    }
    .stepsHoldText h1 {
        font-size: 40px;
    }
    .table {
        font-size: 15px;
    }
    .container {
        display: flex;
    }
    .aboutInfo a,p {
        display: block;
        padding: 8px 0px;
        font-size: 13px;
    }
    .textInfo p {
        display: block;
        padding: 8px 0px;
        font-size: 13px;
    }
    .stepsHold {
        margin-top: 109px !important;
    }    
    #pageDynamic {
        margin-left: 50px;
        margin-right: 50px;
    }
}
}