.stepsHold {

    margin: 0px 5px 0px 5px;
}
.textWraper {
    margin: 20px;
}
.stepsHold .nopadding {
    background: #afb4c7;
}
.stepsHold h5 {
    font-size: 15px;
    text-align: center;
    margin:0px;
}
.stepsHoldText {
    padding-left: 0px;
    margin-left: 15px;
    border-bottom: 1px solid #bfbfbf;
}
.stepsHoldText h1 {
    color: #e20510;
    font-weight: normal;
}
.bookingText {
    margin-left: 15px;
    padding-left: 0px;
}
.bookingText h3 {
    margin-top: 20px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
}
.bookingRow {
    padding-left: 0px;
    margin-left: 15px;
    display: table;
    border-bottom: 1px solid #bfbfbf;
}
.bookingRow p {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto',sans-serif;
}
.tableText1 {
    padding-bottom: 20px;
}
.tableText2{
    padding-left: 30px;
    display: table-cell;
}
.firstP , .secondaryP {
    display: block;
}
.totalPrice h5,h1{
    display: inline-block;
    padding-left: 5px;
}
.totalPrice {
    background-color: #f0eff4;
    text-align: right;
    margin-left: 20px;
    padding-right: 50px;
    line-height: 50px;
    margin-bottom: 15px;
}
.totalPrice h1 {
    color: #ed1b23;
    font-size: 23px;
    font-family: "myriad-pro-condensed",Tahoma,sans-serif;
    font-weight: 700;
    margin: 0 8px;
}
.totalPrice h5 {
    font-size:  15px;
    font-weight: bold;
}
.buttonBack {
    margin-left: 20px;
    margin-bottom: 20px;
}
.buttonSuc {
    text-align: right;
}
.button button {
    color: #Fff;
    background-color: #013a89 !important;
    width: 160px;
    border-radius: 30px !important;
    text-align: center;
}
select {
    padding: 5px;
}
.table td, .table th {
    padding-top: 5px !important;
    vertical-align: middle!important;
    padding: 0rem; 
    border-top: 0px solid #dee2e6; 
}
.table th,td {
    text-align: left;
}
.table thead th {
    border-bottom: 0px solid #dee2e6;
}
.table {
    font-size: 15px;
    width: 97%;
    margin-left: 35px;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
@media (max-width:576px) {
    .buttonBack {
        margin-left: 0px;
    }
    .stepsHoldText h1 {
        margin-top: 15px;
        font-size: 20px;
    }
    .totalPrice {
        margin-left: 0px;
    }
    .stepsHoldText {
        margin-left: 0px;
    }
    .textWraper {
        margin: 0px;
    }
    .table {
        font-size: 10px;
        width: 100%;
        margin-left: 0px;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }
    .tableBooking {
        padding-left: 35px;
    }
    .button button {
        color: #Fff;
        background-color: #013a89 !important;
        width: 100px;
        border-radius: 30px !important;
        text-align: center;
    }
} 