
.vouchHolder {

  text-align:center;
}

.priceNdateLeft {

  float:left; 
  padding-left:5px;
}

.priceNdateRight {

  float:right;
  padding-right:5px;
}

#otherValue {

  width:auto;
}

.blackNbold {

  color:black;
}

.tdSizeE {

  width:200px;
}

.formClassGes {

  padding: 0px;
}

.checkBoxStyle {

  text-align: right;
}

.giftStep2RowNoBorder {

  border-top:none;
}

.spanColorGES {

  color: #013a89;
  text-decoration: none;
}

.infoDnH {
  
  display:block;
  height:10px;
}


.checkBoxStyle label{

  font-size:14px;
}

.stepVoucherSteps h5 {
  color:#fff;
}
.stepShowVoucher{
  display: block !important;
}
.voucherSteps {
  display: none;
}
.giftCard ul {
  padding-left: 20px;
}
#termsCheck-error {
  position: absolute;
  top: 15px;
  right: 190px;
  min-width: 205px;
  text-align: center;
}
.giftCard {
  margin-top: 60px;
  margin-bottom: 14px;
}
.confirmFirstPharagraph {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.confirmSecondPharagraph
{
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.giftCard h2 {
  padding-bottom: 16px;
  font-size: 1.125rem;
  margin-bottom: 4px;
  color: #013a89;
  /* font-weight: 400; */
}
.voucherImgForm {

  margin-top:40px;
}
.voucherImgForm, .giftCard h1 {
  color: #e20510;
}
.form-group label{

  color: #0068b5;
}

.form-check-label {

  color: #999;
}

.giftImgHolder {

  width: 70%;
  display: inline-block;
  word-break: break-all;
}

.giftImgHolder ul li {
  display: inline-block;
  border: 2px solid #999;
  padding: 0px;
  background: none;
  width: 50px;
  margin: 4px 2px 5px 0;
}

.giftImgHolder ul {
  padding-left: 0px;
  text-align: center;
}

.thumbImg {
  height: 61.15px;
}

#mainImage {
  height: auto;
  width: 100%;
}

.vouchHolder {

  height: inherit;
  border: 2px solid #a7a7a7;
}

.voucherButt {
  text-align: center;
}
.voucherButt button {
  
  background: linear-gradient(to bottom, #0083c5 0%, #00499a 100%);
  text-transform: uppercase;
  font-size: 12px;
}

.submitVoucher button {
  width: 100%;
  background-color: #002e6e;
  color: #fff;
  font-size: 12px;
  height: 44px;
  text-transform: uppercase;
}

.submitVoucher button:hover {
  
  background: linear-gradient(to bottom, #00499a 0%, #0083c5 100%);

}
.submitVoucher button:active {
  
  background: linear-gradient(to bottom, #00499a 0%, #0083c5 100%)!important;

}


.voucherInfo {

  margin-top: 20px;
  padding: 0px 10px;
}

.voucherInfo h5 {

  font-size: 10px;
  padding: 10px 15px;
  color: #000;
  font-style: italic;
}

.voucherInfo h4 {

  font-size: 17px;
}

.voucherFooter {

  margin-top: 50px;
  line-height: 0.9;
  padding-bottom: 45px;
  padding-left: 10px;
  padding-right: 10px;
}


.voucherFooter h6{

  text-transform: uppercase;
  color: #1551de;
  font-size: 9px;
  margin: 0px;
}

.voucherFooter p {

  font-size: 8px;
  
}

.erlebnis-paragraphs p{
  padding: 0px;
  display: block;
}

#VouchForm1 {

  padding: 0px;
}
.erlebnis-paragraphs p:nth-child(2){
  margin-top:10px;
}
.erlebnis-headingtwo{
  font-weight: 400!important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}
.wb-title h1{
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 28px;
  padding-bottom: 28px;
}
.erlebnis-title h1{
  font-size: 34px;
  font-weight: 400;
  padding-bottom: 28px;
  margin-bottom: 20px;
}
.weiter-btn{
  margin: 15px 0px 20px 0px;
}
.weiter-btn hr{
  height: 1px;
  background: #b4b4b4;
}

.stepsHold {
}

.stepsHold .nopadding {
  background: #afb4c7;
  float: left;
  text-align: center;
  height: 23px;
  line-height: 23px;
  text-transform: uppercase;
  margin-left: 0;
}

.stepsHold h5 {

  font-size: 16px;
  text-align: center;
  margin:0px;
}

.step1 {
  background: #0068b5 !important;
  color: #fff;
  overflow: hidden;
  
}
.submitButton {

  margin-top: 20px;
  border-top: 2px solid #b4b4b4;
}

.step2 {

  overflow: hidden;
}
.step3 {

  overflow: hidden;
}

.vouchPart1 {
  
  justify-content: center;
  display: flex;
}

.priceNdate {

  padding: 10px 0px;
  border-top: 1px solid rgba(146, 146, 146, 0.5);
  border-bottom: 1px solid rgba(146, 146, 146, 0.5);
  height: 32px;
  margin-top: 50px;

}

.priceNdate h6{

  display: inline-block;
  margin: 0px;
  color: #000;
  font-size: 10px;
}
#vouchNameTag {
  color:#000;
}
.priceNdate h6 span{

  color: #a9393a;
  font-weight: bold;
}

#voucherStep1,#voucherStep2, #voucherStep3, #voucherStep4 {

  max-width: 1240px;
  margin: auto;
}
#voucherStep3 {

  font-size:14px;
}

.giftStep3Row h2{

  text-transform: uppercase;
  color: #373737;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
}

#voucherStep4 p{

  display: block;
  color: #626262;
  font-size: 14px;
  margin-bottom: 0px;
}

.hideLabel {

  display: none;
}
@media (min-width:992px) {

  .giftCard{
    margin-top: 109px;
    padding-top: 20px;
  }
  .padding-desktop{
    padding:20px 40px!important;
  }
  .navWrap {
    top: 0;
  }

  div[class*='col-12'] {
    /* padding-right:0;
    padding-left:0; */
  }
  div[class*='col-lg-6'],div[class*='col-sm-6'],div[class*='col-md-6'] {
    padding-right:0;
    padding-left:15px;
  }

  .topGeichHld {
    /* margin-left: -15px; */
  }

  #user_validFrom {

    /* margin-left: 15px; */
    width: 100%;
  }
}


@media (max-width:768px) {
  /* Phone and Tablets */
  .navOver3 {
    display: none;
  }
  .dDownsHide {

    display: none;
  }
  #VouchForm2 {

    padding: 0px;
  }

  .stepsHold h5 {

    width: 100%;
  }

  .stepsHold {

    margin:20px 0px;
  }
}


@media (min-width:576px) {
  /* ---- Tablets - Desktop - Big Screen ---- */
  .navOver4 {
    display: flex;
  }
  .giftCard {
    margin-top: 0px;
  }


}

.hiddeThisP {

  display: none;
}

@media (max-width: 576px) {

  /* ---- Phone Only ---- */


  .voucherImgForm {

    margin-top: 0px;
  }
  body {
    font-family: 'Roboto',sans-serif;
  }

  .erlebnis-title h1, .wb-title h1 {

    font-size: 27px;
    padding: 0;
  }

  .giftCard h2 {

    font-size: 14px;
  }

  .erlebnis-paragraphs p {

    font-size: 11px;
  }

  .giftCard li {

    font-size:11px;
  }

  .giftImgHolder {

    width: 95%;
  }

  input[type=checkbox], input[type=radio] {

    margin-top:0px;
  }

  .radioButton .form-check{

    padding-top:5px;
  }

  .form-row.row, .form-group label {

    font-size:11px !important;
  }

  .navOver4H {

    display: none;
  }

  .hiddeMobileT2 {

    display: none!important;
  }

  .hiddeThisT {

    display: none!important;
  }

 

  

}