/* fluid 5 columns */
.grid-sizer,
.grid-item { 
    width: 33.333333333333%; 
    height: 200px;
    float: left;
    background: #D26;
}
/* 2 columns */
.grid-item--width2 { width: 40%; }
.grid-item--height2 { height: 400px; }

