.firstPartButt {

    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    background: linear-gradient(to bottom, #0083c5 0%, #00499a 100%);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.subTitle h4{

    font-size: 18px;
    color: #013a89;
}

.subTitle {

    padding: 0px 35px;
    margin-bottom: 10px;    
}

.noOfferTitle {

    font-size: 34px;
    color: #e20510;
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: solid 1px #d3d2d6;
}

.firstPart {

    padding: 0px 35px;
}

.secondPart {

    padding: 0px 35px;
}

.secondPartButt {

    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    background: linear-gradient(to bottom, #0083c5 0%, #00499a 100%);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.MainInfosNOofer {

    padding: 0px 80px;
    margin-bottom: 75px;
}

.paragrafWarp ul {

    margin-top: 1em;
    margin-left: 1.2em;
    padding: 0;
    color: #626262;
    line-height: 24px;
    font-family: 'Roboto',sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.imgWraper img{

    width: 100%;
    max-height: 1000%;
}

.imgWraper {

    margin-bottom: 30px;
    height: 250px;
    overflow: hidden;
}


.paragrafWarp {

    margin: 1rem 0px;

}

.secondPartRow {

    margin: 20px 0px;
}

.MAINTITLE {

    margin-top: 20px;
    padding-bottom: 28px;

}

.secondPartButt:hover {

    background: linear-gradient(to bottom, #00499a 0%, #0083c5 100%);
}

.firstPartButt:hover {
    
    background: linear-gradient(to bottom, #00499a 0%, #0083c5 100%);
}

.firstPartButt:active {
    
    background: linear-gradient(to bottom, #00499a 0%, #0083c5 100%) !important;
}
.secondPartButt:active {
    
    background: linear-gradient(to bottom, #00499a 0%, #0083c5 100%) !important;
}

@media (max-width:576px) {

    .MainInfosNOofer {

        padding: 0px;
    }

    .subTitle {

        padding:0px 15px !important;
      }
      .firstPart {
    
        padding:0px 15px !important;
      }
      .secondPart {
    
        padding:0px 15px !important;
      }

      .navOver3{ 

        display: none;
      } 
}